html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

.wrapperScan{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(../public/spaceimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:50px 20px;

}



h2 span{font-family: 'Forum', cursive; display: block; color: #fe6f06;}
.congrats h2 {font-family: 'Forum', cursive; display: block; color: #FFF; font-weight: normal;}
.congrats h2 span {font-family: 'Forum', cursive; display: block; color: #fe6f06; font-size: 48px;}
.congrats p{font-size: 20px; line-height: 24px;}
.congrats p span{
  display: block;
  color: #fe6f06;
  font-weight: bold;
}

.congrats ul{
  margin: 0px;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center
  ;
  align-items: center;
  column-gap: 15px;

}
.congrats li{
  list-style-type: none;
}
.welcommsg{
  font-family: 'Forum', cursive;
  font-size: 30px;
  color: #FFF;
  text-align: center;
}

.agenda{
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  color: #FFF;
  text-align: left;
  padding: 10px;
  background-color: rgba(22, 39, 79, 0.8);
  margin-top: 20px;
}

.agenda ul{
  margin: 0px;
  padding: 0px;
}
.agenda li{
  padding-left:0px;
  margin-left: 20px;
}

.scanBtn{
  background-color: #fe6f06;
  border: 0px;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;

}
.agenda h1 {
  font-weight: normal;
  font-size: 36px;
}
.agenda h3{
  margin: 0px;
}

.QrcodeContainer{
  width: 90%;
  text-align: center;
  color: #FFF;
  font-family: 'Mukta', sans-serif;
}

.social-icon{
  display: flex;
}
.social-icon ul{
  display: flex;
  list-style-type: none;
  column-gap: 15px;
  padding: 0px;
  margin: 0px;
}
.social-icon li a{
  display: block;
}
.social-icon li{
  list-style-type: none;
}
/* .logo {
  margin-top: 50px;
} */
.logo img{
  width: 90%;
  margin: 0 auto;
  display: block;
}

.wrongURL h2{
  text-align: center;
  color: #fe6f06;
}

.wrongURL{
  text-align: center;
  color: #FFF;
}

.wrongURL p{
  color:#FFF;
  text-align: center;
}

.instruction{
  padding: 20px;
  border-radius: 5px;
  background-color: #16274f;
}

.instruction h4{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  margin-bottom: 20px;
}
.instruction h5{
  margin: 0px;
  padding: 0px;
  color: #93c4d3;
  font-size: 18px;
  font-weight: 400;
}
.instruction h5 strong{
  font-weight: 600;
}

.msg2{
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
}